#app {
    display: flex;
    justify-content: center;
    height: 100%;
}

#main {
    margin: 5px;
    padding:0;

    height: 95vh;
    width: 100%;

    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: #00b3db29;
    border-radius: 2rem;
    overflow-y: auto;
}

#logo {
    width: 150px;
    height: auto;
}

#stat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 2rem 2rem 0;
    width: 30%;
}

#stat-container div {
    background-color: #0084b013;
    border-radius: 1rem;
}

nav {
    border-radius: inherit;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
}

nav a {
    color: white;
}